@media (max-width: 600px) {
	.image_box {
		margin: 7vh auto 5vh auto;
		width: 250px;
		height: 200px;
		border: solid;
	}
	#upload_icon {
		margin: 70px auto;
		width: 40px;
		height: 40px;
	}
	#image_label {
		cursor: pointer;
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	#image {
		width: 300px;
		height: 200px;
	}

	.filebox .upload_name {
		border-radius: 15px;
		display: inline-block;
		height: 35px;
		padding: 0 10px;
		vertical-align: middle;
		border: 1px solid #dddddd;
		width: 60%;
		color: #999999;
	}
	#bottom_label {
		font-size: 14px;
		border: 1px solid rgb(172, 172, 172);
		border-radius: 15px;
		display: inline-block;
		padding: 8px 10px;
		color: #707070;
		vertical-align: middle;
		background-color: #ffffff;
		cursor: pointer;
		margin-left: 10px;
	}
	#bottom_label :hover {
		background-color: black;
	}
	.filebox input[type="file"] {
		position: absolute;
		width: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		border: 0;
	}

	.container {
		text-align: center;
	}
}

/* ------------------------------------------------------------------- */

@media (min-width: 600px) {
	.image_box {
		margin: 5vh auto;
		width: 700px;
		height: 400px;
		border: solid;
		margin-top: 10vh;
	}
	#upload_icon {
		margin: auto;
		width: 60px;
		height: 60px;
		margin-top: 160px;
	}
	#image_label {
		cursor: pointer;
		display: inline-block;
		width: 100%;
		height: 100%;
	}
	#image {
		width: 700px;
		height: 395px;
	}

	.filebox .upload_name {
		border-radius: 15px;
		display: inline-block;
		height: 40px;
		text-align: center;
		padding: 0 10px;
		vertical-align: middle;
		border: 2px solid #999999;
		width: 40%;
		color: #999999;
	}
	#bottom_label {
		border: 1px solid rgb(172, 172, 172);
		border-radius: 15px;
		display: inline-block;
		padding: 20px 20px;
		line-height: 3px;
		text-align: center;
		color: #707070;
		vertical-align: middle;
		background-color: #ffffff;
		cursor: pointer;
		height: 40px;
		margin-left: 10px;
	}
	#bottom_label :hover {
		background-color: black;
	}
	.filebox input[type="file"] {
		position: absolute;
		width: 0;
		height: 0;
		padding: 0;
		overflow: hidden;
		border: 0;
	}

	.container {
		text-align: center;
	}
}
input:disabled {
	background: #ffffff;
}
input:focus {
	outline: none;
}
