.container,
html,
body {
	width: 100vw;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.txt {
	text-align: center;
	margin-top: 450px;
}

h3 span {
	position: relative;
	top: 20px;
	display: inline-block;
	animation: bounce 0.3s ease infinite alternate;

	font-weight: 1000;
	color: #fff;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
		0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
		0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
