body {
	display: grid;
	place-items: center;
	height: 100vh;
}

.layerbutton {
	margin-top: 5vh;
	--padding: 1rem 4rem;
	--font-family: monospace;
	--step: 0.5rem;
}

/*   transform: translate3d(-0.5rem, -0.5rem, 0) */
.layerbutton:is(:hover, :focus-visible) {
	--active: 1;
}

.layerbutton {
	--active: 0;
	color: white;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	font-family: var(--font-family);
	font-weight: bold;
	border: 0;
	background: transparent;
	padding: 0;
}

.layerbutton span:first-of-type {
	padding: var(--padding);
}

.layerbutton span:not(:first-of-type) {
	position: absolute;
}

[aria-hidden] {
	color: transparent;
}
.layerbutton span {
	inset: 0;
	display: grid;
	background: var(--bg);
	place-items: center;
	transition: 0.2s ease;
	border: 2px solid black;
	translate: calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
		calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1));
}

span:nth-of-type(1) {
	--bg: var(--bg-color-3);
	background-color: #9b90ff;
}

span:nth-of-type(2) {
	--coefficient: 1;
	--bg: var(--bg-color-2);
	background-color: #ff90e8;
}

span:nth-of-type(3) {
	--coefficient: 2;
	background-color: #000;
}

.layerbutton:active {
	--active: 0.5;
}
