body {
  background-color: #feee7d;
  margin: 0;
  overflow-x: hidden;
}
.layerbutton {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-family: var(--font-family);
  font-weight: bold;
  border: 0;
  background: transparent;
  padding: 0;
  margin-top: 40vh;
  --active: 0;
  --padding: 0.5rem 2rem;
  --font-family: monospace;
  --step: 0.5rem;
}

.layerbutton:is(:hover, :focus-visible) {
  --active: 1;
}

.layerbutton span:first-of-type {
  padding: var(--padding);
}

.layerbutton span:not(:first-of-type) {
  position: absolute;
}

[aria-hidden] {
  color: transparent;
}
.layerbutton span {
  inset: 0;
  display: grid;
  background: var(--bg);
  place-items: center;
  transition: 0.2s ease;
  border: 2px solid black;
  translate: calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
    calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1));
}

.color_span:nth-of-type(1) {
  --bg: var(--bg-color-3);
  background-color: #d7e9b9;
}

.color_span:nth-of-type(2) {
  --coefficient: 1;
  --bg: var(--bg-color-2);
  background-color: #b0daff;
}

.color_span:nth-of-type(3) {
  --coefficient: 2;
  background-color: #ffffff;
}

.layerbutton:active {
  --active: 0.5;
}
.outer {
  height: 100vh;
  overflow-y: auto;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.section1 {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.genre {
  text-align: center;
  position: relative;
  bottom: 70px;
  right: 180px;
  font-size: 30px;
  text-align: center;
  animation: rotate 1s ease infinite alternate;
}

.emoji1:hover,
.emoji2:hover,
.emoji3:hover,
.emoji4:hover {
  scale: 1.1;
}

.emoji1 {
  animation: bounce2 0.3s ease infinite alternate;
  animation-delay: 0.1s;
}
.emoji2 {
  animation: bounce2 0.3s ease infinite alternate;
  animation-delay: 0.2s;
}
.emoji3 {
  animation: bounce2 0.3s ease infinite alternate;
  animation-delay: 0.3s;
}
.emoji4 {
  animation: bounce2 0.3s ease infinite alternate;
  animation-delay: 0.4s;
}

.emoji1:hover ~ .fun {
  display: block;
}
.emoji2:hover ~ .sad {
  display: block;
}
.emoji3:hover ~ .romance {
  display: block;
}
.emoji4:hover ~ .horror {
  display: block;
}
.emoji3 {
  margin-right: 5px;
}
.divider1,
.divider2,
.divider3 {
  width: 100%;
  height: 5px;
}
.emojiBox {
  margin-left: 100px;
}
h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;

  font-weight: 1000;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
h1 span:nth-child(11) {
  animation-delay: 1s;
}
h1 span:nth-child(12) {
  animation-delay: 1.1s;
}
h1 span:nth-child(13) {
  animation-delay: 1.2s;
}

@media (min-width: 650px) {
  .layerbutton {
    margin-top: 43vh;
  }
  .picstory {
    padding-top: 25vh;
    height: 200px;
  }
  h1 span {
    font-size: calc(15vw - 50px);
  }
  .content {
    position: relative;
    width: 500px;
    text-align: center;
    font-size: 30px;
    left: 150px;
    animation: show 4s ease;
  }
  .content2 {
    position: relative;
    width: 700px;
    text-align: center;
    font-size: 30px;
    animation: show 4s ease;
  }
  .video {
    border: 2px solid black;
    animation: pop 1s infinite alternate;
  }
  .imgContent {
    border: 3px solid black;
  }

  .test {
    position: relative;
    left: 100px;
    transform: rotate(-1deg);
    animation: move 2s ease, rotate 1s ease infinite alternate 2.2s;
  }
  .test2 {
    position: relative;
    top: -200px;
    transform: rotate(-1deg);
    animation: move2 1s ease, rotate 1s ease infinite alternate 1.2s;
  }
  .test3 {
    position: relative;
    top: 120px;
    right: 100px;
    transform: rotate(-1deg);
    animation: move3 2.2s ease, rotate 1s ease infinite alternate 2.5s;
  }
}
@media (max-width: 650px) {
  /* 모바일 */
  .section2 {
    width: 99vw;
  }
  .layerbutton {
    margin-top: 35vh;
  }
  .picstory {
    padding-top: 25vh;
    height: 200px;
  }
  h1 span {
    font-size: 10vh;
  }

  .content {
    width: 500px;
    text-align: center;
    font-size: 18px;
    animation: show 4s ease;
  }
  .content2 {
    text-align: center;
    font-size: 20px;
    animation: show 4s ease;
  }

  .imgContent {
    border: 3px solid black;
  }

  .test {
    display: none;
    animation: move 1s ease;
  }
  .test2 {
    display: none;
  }
  .test3 {
    display: none;
  }
  .video {
    display: none;
  }
}
/* ----------------------animation---------------------- */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}
@keyframes move {
  from {
    transform: translateX(-55%);
  }
  to {
    transform: translateX(0);
    transform: rotate(-1deg);
  }
}
@keyframes move2 {
  from {
    transform: translateY(-70%);
  }
  to {
    transform: translateY(0);
    transform: rotate(-1deg);
  }
}
@keyframes move3 {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
    transform: rotate(-1deg);
  }
}

@keyframes pop {
  from {
    transform: translateY(-2%);
    opacity: 0.5;
  }
  to {
    transform: translateY(2%);
    opacity: 1;
  }
}
@keyframes bounce {
  100% {
    top: -1.5vw;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(-3%);
  }
  to {
    transform: translateY(3%);
  }
}
