.btn1 {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);

  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  animation: bounce;
}
.btn1:hover {
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-weight: 700;
  transform: translate(-50%, -10px);
}

body {
  margin: 0;
  overflow-y: hidden;
}
.outer {
  height: 100vh;
  overflow-y: auto;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.section1 {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #f9e74a;
}
.section2 {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #fd677e;
}
.section3 {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #ff9634;
}
.section4 {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.divider1 {
  width: 100%;
  height: 5px;
  background-color: #f9e74a;
}
.divider2 {
  width: 100%;
  height: 5px;
  background-color: #ff7c90;
}
.divider3 {
  width: 100%;
  height: 5px;
  background-color: #ff9634;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;

  font-weight: 1000;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
h1 span:nth-child(11) {
  animation-delay: 1s;
}
h1 span:nth-child(12) {
  animation-delay: 1.1s;
}
h1 span:nth-child(13) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  100% {
    top: -1.5vw;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 650px) {
  .btn1 {
    margin-top: calc(65vh);
  }
  .picstory {
    padding-top: 25vh;
    height: 200px;
  }
  h1 span {
    font-size: calc(15vw - 50px);
  }
}
@media (max-width: 650px) {
  .btn1 {
    margin-top: calc(60vh);
  }
  .picstory {
    padding-top: 25vh;
    height: 200px;
  }
  h1 span {
    font-size: 7vh;
  }
}

@media (max-height: 600px) {
  .btn1 {
    margin-top: calc(40vh);
  }
  .picstory {
    padding-top: 20vh;
    height: 200px;
  }
  h1 span {
    font-size: 20vh;
  }
}

.picstory {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
