
@media (max-width: 600px) {

  .story-result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .story-img-container{
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .image-box {
    border: 1px solid red;
    border-radius: 30px;
    margin: 100px auto 70px auto;
    width: 300px;
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .story-result-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .sound-icon{
    margin: auto;
    width: 40px;
    height: 40px;
  }

  .sound-btn {
    cursor: pointer;
    border-radius: 999px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .story-result-text{
    width: 80vw;
    margin: auto;
  }
}

/* ------------------------------------------------------------------- */

@media (min-width: 600px) {

  .story-result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .story-img-container{
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .image-box {
    border: 1px solid blue;
    border-radius: 30px;
    margin: 100px auto 70px auto;
    width: 500px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .story-result-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .sound-icon{
    margin: auto;
    width: 60px;
    height: 60px;
  }

  .sound-btn {
    cursor: pointer;
    border-radius: 999px;
    height: 70px;
    width: 70px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .story-result-text{
    width: 500px;
    margin: auto;
  }
}
