.header {
  border-bottom: 1.7px solid black;
  margin: 0 auto;
  height: 70px;
  width: 95%;
  color: white;
  background: #feee7d;
}

@media (min-width: 600px) {
  .contents {
    padding: 0 20px;
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .logo {
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    width: 300px;
    cursor: pointer;
    margin: 0 25vw;
    font-size: 50px;
    font-weight: 1000;
    /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 3px 0 #ccc,
      0 2px 0 #ccc, 0 2px 0 transparent, 0 5px 0 transparent,
      0 8px 0 transparent, 0 2px 0 transparent, 0 5px 5px rgba(0, 0, 0, 0.4); */
  }
  .logo:hover {
    scale: 1.05;
  }
  .menuIcon {
    display: none;
  }

  .icon {
    width: 35px;
  }

  .iconBox {
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
  }

  .btn {
    font-weight: 1000;
    width: auto;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0 20px;
    cursor: pointer;
    color: black;
  }
}

@media (max-width: 600px) {
  .logo {
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    margin-top: 5px;
    cursor: pointer;
    float: left;
    margin-left: 5vw;
    padding-bottom: 51px;
    font-size: 35px;
    font-weight: 1000;
  }
  .menuIcon {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
  .btn,
  .iconBox {
    display: none;
  }
}
