.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
  width: 95%;
  color: white;
  background: #feee7d;
  border-bottom: 1.7px solid black;
  margin: auto;
}

@media (min-width: 700px) {
  .contents {
    margin: auto;
    padding: auto;
    flex: 1 1 30%;
    display: flex;
    justify-content: start;
  }
  .icons {
    margin: auto;
    flex: 1 1 30%;
    display: flex;
    justify-content: end;
  }
  .logo {
    flex: 1 1 30%;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    cursor: pointer;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 1000;
  }
  .logo:hover {
    scale: 1.05;
  }
  .menuIcon {
    display: none;
  }

  .icon {
    width: 35px;
  }

  .iconBox {
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 999px;
    padding: 10px;
  }

  .btn {
    font-weight: 1000;
    width: auto;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
    color: black;
  }
}

@media (max-width: 700px) {
  .logo {
    flex: 1 1 70%;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 35px;
    font-weight: 1000;
    display: flex;
    justify-content: start;
    padding-left: 10px;
  }
  .menuIcon {
    flex: 1 1 30%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
  }
  .btn,
  .icons,
  .contents,
  .iconBox {
    display: none;
  }
}
