@media (max-width: 700px) {
  .notice {
    display: none;
  }
  .container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resultBox {
    border: 2px solid black;
  }
  .wordSearch {
    display: flex;
    margin-bottom: 10px;
  }

  .wordInput {
    display: none;
  }
  .wordInput2 {
    width: 200px;
    border: 2px solid black;
    padding: 2px 10px;
  }
  .searchResult {
    text-align: center;
  }
  .me {
    float: right;
  }
  .you {
    float: left;
  }
  .searchResult {
    border-radius: 10px;
    padding: 7px;
    margin-top: 20px;
    border: 0.5px solid rgb(216, 216, 216);
  }

  .iconBox {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .searchIcon {
    width: 70px;
  }
  .saveIcon {
    width: 70px;
  }
  .btn {
    display: none;
  }
  .btns {
    display: block;
  }
  .saveBtn {
    float: right;
    margin-left: 10px;
    width: 75px;
    border-radius: 5px;
    color: rgb(129, 129, 129);
    border: 1px solid rgb(182, 182, 182);
  }
}
@keyframes move {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* ============================================= */
/* ============================================= */
/* ============================================= */
@media (min-width: 700px) {
  .notice {
    text-align: center;
    position: relative;
    animation: move 0.5s linear infinite alternate;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .resultBox {
    height: 69%;
    border: 2px solid black;
    overflow-y: scroll;
  }
  .wordSearch {
    display: flex;
  }

  .wordInput2 {
    display: none;
  }
  .wordInput {
    width: 100%;
    border: 2px solid black;
    padding: 2px 10px;
  }
  .me {
    margin-right: 10px;
    float: right;
  }
  .you {
    margin-left: 10px;
    float: left;
  }
  .searchResult {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    /* border: 0.5px solid rgb(216, 216, 216); */
  }

  .iconBox {
    display: none;
  }
  .btn {
    margin-left: 5px;
    width: 100px;
    /* border-radius: 5px; */
    border: 2px solid black;
  }
  .saveBtn {
    float: right;
    margin-left: 10px;
    width: 75px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
  }
}
