.container {
  margin: 150px 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  margin: 0 10px;
  width: 500px;
  float: left;
}

.wordSearch {
  float: right;
}

.wordInput {
  border: 1px solid black;
  padding: 0 10px;
}

.btn {
  margin: 0 10px;
  width: 100px;
  border: 1px solid black;
}

.chat {
}
